<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
{% block title %}
    <title>MySiteForQA</title>
{% endblock %}
{% block link_css %}
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
</head>
<body>
{% block header %}
    <hr>
{% endblock %}
{% block nav %}
<dir class="nav">
    <nav><ul class="pagination">
    {% for pnum in paginator.page_range %}
        {% if pnum == page.number %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
        <a href="{{ path }}{{ pnum }}">{{ pnum }}</a>
        </li>
    {% endfor %}
    </ul></nav>
</dir>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
    <hr>
{% endblock %}
{% block link_js %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
{% endblock %}
</body>
</html>
